<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1 HTML</title>
    <style>
        img( float: left;)
    </style>
</head>

<body>
    <p>
        <img src="1.png" alt="HTML">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aperiam, nihil aliquid a assumenda
        dignissimos corrupti blanditiis non beatae tempore incidunt labore voluptatem sint. Corporis saepe, delectus
        obcaecati facere error minus a sit quia laborum nam reiciendis nostrum aspernatur neque voluptates optio maxime
        aliquam voluptas. Architecto impedit iusto nisi ab illum veniam omnis cum possimus eos fugit nihil magnam quia
        alias sit repudiandae ea mollitia laborum, voluptatum doloremque. Ratione ipsum cumque beatae saepe at omnis
        soluta aut architecto maxime commodi perspiciatis labore quidem numquam voluptatibus, neque dolorum eum fugit
        culpa. Perspiciatis ipsum veritatis quae quasi repellat, culpa ullam accusamus cupiditate.
    </p>
    <ul>
        <li>home</li>
        <li>about</li>
        <li>course</li>
        <li>services</li>
    </ul>
</body>

</html>